[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false

[dev-packages]
pandas = "*"
openpyxl = "*"
xlrd = "==1.2.0"
scrapy = "*"
pymongo = "*"

[packages]
pycryptodome = "*"
requests = "*"
lxml = "==4.5.0"
tqdm = "*"

[requires]
python_version = "3.6"
